@import '../../_sass/abstracts/';

.problem {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	border-bottom: 3px solid $color-purple;
	border-left: 3px solid $color-purple;
	border-right: 3px solid $color-purple;
	border-radius: 0 0 10px 10px;

	&__closed {
		display: flex;
		justify-content: space-between;
		align-items: center;
		svg {
			margin: 10px 30px;
			color: $color-purple;
		}
		p {
			margin: 0;
			color: $color-purple;
			width: 40%;
			text-align: right;
		}
	}
	&__open {
		display: none;
		height: 300px;
	}

	display: none;
}
