@import '../../_sass/abstracts/';

.navigation-main {
	position: absolute;

	&__hamburger {

		svg {
			margin: 28px;
			color: $color-gray;
		}
	}
	&__nav {
		display: none;
		width: 100vw;
		height: 100vh;
		background-color: $color-background;

		&-times {
			position: absolute;
			svg {
				margin: 28px;
				color: $color-gray;
			}
		}
		&-wrapper {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			a {
				text-decoration: none;
				h1 {
					font-size: 50px;
					color: $color-gray;
					&:hover {
						color: $color-purple;
						transition: ease-out 300ms;
					}
				}
			}
		}
	}
}
