@import '../../_sass/abstracts/';

canvas {
	width: 100%;
	height: 100%;
}

.home {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;

	&__data {
		width: 70%;
		padding-left: 80px;

		&-title {
			color: $color-gray;
			font-size: 3rem;
			font-weight: 700;
			margin-bottom: 2rem;

			span {
				color: $color-purple;
			}
		}

		&-text {
			color: $color-gray;
			opacity: 0.8;
			line-height: 2;
		}

		&-wrapper {
			width: 70%;
			display: flex;
			margin-top: 50px;

			&-button { 
				background-color: $color-purple;
				border: 2px solid $color-purple;
				text-decoration: none;

				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				text-align: center;
				margin-right: 2rem;

				transition: 0.3s;

				&:hover {
					background-color: $color-purple-dark;
					text-decoration: none;

					cursor: pointer;
					transform: scale(1.08);
				}

				p {
					color: $color-white;
					font-size: 16px;
					font-weight: 600;
					margin: 0;

					width: 240px;
					text-align: center;
				}
			}

			.button--white {
				background-color: $color-white;
				border: 2px solid $color-purple;

				&:hover {
					background-color: $color-purple-light;
					text-decoration: none;
				}
				
				p {
					color: $color-purple;
				}
			}
		}
	}
	&__animation {
		width: 30%;
		height: 100%;

		.loader {
			position: absolute;
			right: 13%;
			bottom: 50%;
			margin-bottom: 40px;
			z-index: -10;
		}
	}
}
