@import '../../_sass/abstracts/';

.info {
	-webkit-animation: fade-in 1s 0.2s both;
	animation: fade-in 1s 0.2s both;
	margin: 0 2rem 2rem 2rem;
	padding-top: 8rem;
	&__title {
		text-align: center;
		h1 {
			font-size: 64px;
			color: $color-gray;
		}
		p {
			margin: auto;
			max-width: 1000px;
		}
	}
	&__raspberrypi {
		margin: 80px 0;
		h2 {
			font-size: 42px;
			color: $color-gray;
			margin-top: 80px;
		}
		p {
			width: 100%;
		}
		img {
			padding: 40px;
		}
		a { 
			background-color: #905DFF;
			color: $color-white;
		    text-decoration: none;
		    height: 80px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    border-radius: 10px;
		    text-align: center;
			transition: 0.3s;
			width: 100%;
			font-size: 20px;
			margin: 20px 0;
		}
	}
	h3 {
		color: $color-gray;
		font-size: 28px;
	}
	&__blogs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
	.info {
		padding: 0;
		padding-top: 6rem;
	}

	.blog {
		width: 42%;
	}
 }
 // X-Small devices (portrait phones, less than 576px)
 @media (max-width: 575.98px) { 
	 .blog {
		 width: 100%;
	 }
  }
 
.contact {
	padding: 160px;
	-webkit-animation: fade-in 1s 0.2s both;
	animation: fade-in 1s 0.2s both;
	
	&__title {
		width: 100%;
		text-align: center;
		h1 {
			font-size: 64px;
			color: $color-gray;
		}
		p {
			width: 70%;
			margin: auto;
		}
		h2 {
			font-size: 32px;
			color: $color-purple;
			margin-top: 40px;
		}

		#email {
			transition: 2s;
		}
	}

}

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 3s linear both;
	        animation: text-flicker-in-glow 3s linear both;
}
