$color-purple: #905DFF;
$color-purple-dark: #7249C9;
$color-purple-light: #F4EFFF;

$color-gray: #4D4D4D;
$color-gray-light: #B6B6B6;


$color-background: #F5F5F5;

$color-black: #000000;
$color-white: #FFFFFF;

$font-bold: 600;
$font-regular: 100;
